@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

:root {
    background-color: rgb(27, 27, 27);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family:Fredoka;
}

h1 {
font-size: 5.4rem;
color: white;
margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.hub {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background-color: royalblue;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 5px;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background: orange;
}
/*End Page CSS*/
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0 10px 5px;
}

input::placeholder {
    color: black;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: white;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}

/*game.css starts here*/

body {
    color: white;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: darkorchid;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 5px;
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice.prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: green;
}

.incorrect {
    background: crimson;
}

/*Heads up display*/

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progress {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid lime;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressFull {
    height: 100%;
    background-color: lime;
    width: 0%;
}

/* highscores.css starts here */

body {
    color: skyblue;
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}