
/* *, *::before, *::after {
    box-sizing: border-box;
    font-family: cursive;
}

:root {
    --neutral-color: royalblue;
    --wrong-color: crimson;
    --correct-color: green;
}

body{
    color: var(--neutral-color);
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: goldenrod;
}

body.correct {
    background-color: var(--correct-color);
}

body.wrong {
    background-color: var(--wrong-color);
}

.hub {
    width: 50%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 5px;
    font-size: 52px;
    align-items: center;
    margin: 0 auto;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    color: var(--neutral-color);
    border: 2px dashed goldenrod;
    background-color: royalblue;
    border-radius: 5px;
    padding: 4px 5px;
    color: goldenrod;
    outline: none;
    font-size: 35px;
    justify-content: center;
}

.btn:hover {
    color: indigo;
    background-color: hotpink;
    cursor: pointer;
    transform: scale(1.02);
    transform: 100ms;
}

.btn.correct {
    background-color: var(--correct-color);
    color: lime;
}

.btn.wrong {
    background-color: var(--wrong-color);
    color: white;
}

.begin-btn, .next-btn {
    font-size: 58px;
    font-weight: bolder;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/*Progress Bar and Score*/

/* #status {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.status-prefix {
    text-align: center;
    font-size: 2rem;
}

.status-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid var(--neutral-color);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: var(--neutral-color);
    width: 0%;
} */